@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
  background: #e0e0e0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login {

  padding: 40px 40px;
  /* margin: auto; */
  font-family: 'Comfortaa', cursive;
  border-radius: 50px;

}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 600px;
  /* margin: 0 auto 100px; */
  padding: 35px 60px;
  text-align: center;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: -11px 11px 22px #bebebe, 11px -11px 22px #ffffff;
  
}

.form h2 {
  text-transform: uppercase;
  font-family: 'Comfortaa', cursive;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 2px;
  padding-bottom: 20px;
  text-shadow: 1px 1px 1px  #000000c3;

}

.mainbox {
  padding: 30px 30px;
  background: rgba(245, 245, 245, 0.381);
  border-radius: 10px;
}

.mainbox p {
  font-size: 20px;
  font-weight: 500;
  color: #395591;
  text-transform: capitalize;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 30px;

}

.inputBoth {
  display: flex;
  justify-content: center;

}

.inputONe {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.inputONe label {
  display: flex;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 5px;
  font-family: 'Comfortaa', cursive;

}

.inputONe input {
  outline: 0;
  background: #e0e0e0;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 14px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;

}

.inputONe input:focus {
  background: #e0e0e0;

}

.inputtwo {
  display: flex;
  flex-direction: column;
}

.inputtwo label {
  display: flex;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 5px;
  font-family: 'Comfortaa', cursive;

}

.inputtwo input {
  display: flex;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 5px;
  font-family: 'Comfortaa', cursive;
  outline: 0;
  background: #e0e0e0;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 14px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;

}




/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.btnBOx button {

  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #e0e0e0;
  border: 0;
  border-radius: 8px;
  color: #000;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px 30px;
}

.rsultBox {
  padding: 30px 20px;
  margin-top: 30px;
  background: #00000006;
}

.rsultBox h2 {
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
  margin: 0;
}


.rsultBox p{
  font-size: 14px;
  font-weight: normal;
  font-family: 'Comfortaa', cursive;
  margin: 0;
}


